.ads {
    width: 100vw;
}

.container {
    margin: 0 15vw;
}

.body {
    background-color: #fdc100;
    border-radius: 15px;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title span{
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 768px) {
    .title {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .title span{
        font-size: 12px;
        font-weight: bold;
        color: black;
    }
}