.typeCalculator {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pokemonType {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.pokemonType h3{
    font-size: 21px;
}

.types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}


/*Todos os tipos*/

.grass {
    width: 8rem;
    background-color: #78cb57;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.poison {
    width: 8rem;
    background-color: #aa5799;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.fire {
    width: 8rem;
    background-color: #ff5433;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.flying {
    width: 8rem;
    background-color: #6992fd;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.water {
    width: 8rem;
    background-color: #2f9afd;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.bug {
    width: 8rem;
    background-color: #a7b723;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.normal {
    width: 8rem;
    background-color: #d8d8c8;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.electric {
    width: 8rem;
    background-color: #f5cc48;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.ground {
    width: 8rem;
    background-color: #d9c176;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.fairy {
    width: 8rem;
    background-color: #ffa7f9;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.psychic {
    width: 8rem;
    background-color: #ff5496;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.fighting {
    width: 8rem;
    background-color: #ba5747;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.rock {
    width: 8rem;
    background-color: #baaa68;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.ice {
    width: 8rem;
    background-color: #89dbf4;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.ghost {
    width: 8rem;
    background-color: #6666c1;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.steel {
    width: 8rem;
    background-color: #aaaaba;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.dragon {
    width: 8rem;
    background-color: #7765f1;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.dark {
    width: 8rem;
    background-color: #755444;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}