.movieList {
    width: 100vw;
}

.container {
    margin: 0 15vw;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.box {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    width: 16.5vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.movieName {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.movieName span{
    font-weight: bold;
}

.btn {
    margin-bottom: 1rem;
    display: flex;
}

.btn button {
    height: 2.5rem;
    width: auto;
    padding: 0 2rem;
    background-color: #eeb30c;
    border: 1px solid #FFF;
    border-radius: 15px;
    color: #FFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn button:hover {
    height: 2.5rem;
    width: auto;
    padding: 0 2rem;
    background-color: #d64262;
    border: 1px solid #FFF;
    border-radius: 15px;
    color: #FFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) { 
    .container {
        margin: 0 2vw;
        padding: 2rem 0;
    }

    .box {
        background-color: white;
        width: 45vw;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    }

    .image {
        margin-bottom: 1rem;
        padding-top: 1rem;
        width: 110px;
        height: 110px;
    }

    .btn button {
        height: 2.5rem;
        width: auto;
        padding: 0 1rem;
        background-color: #eeb30c;
        border: 1px solid #FFF;
        border-radius: 15px;
        color: #FFF;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .btn button:hover {
        height: 2.5rem;
        width: auto;
        padding: 0 1rem;
        background-color: #d64262;
        border: 1px solid #FFF;
        border-radius: 15px;
        color: #FFF;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}